@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
     
}
.font-iransans {
  font-family: var(--font-iransans);
}
.font-hamid {
  font-family: var(--font-hamid);
}
.font-reza {
  font-family: var(--font-reza);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body,html {
  background: var(--background);
  color: var(--foreground);
   scroll-behavior: smooth;
}
/* styles/globals.css یا app/globals.css */



